body {
    font-family: Arial, sans-serif; 
    background-color: #f5f5f5; 
    margin: 0;
    padding: 0;
}

.enlace {
    display: block; 
    text-decoration: none; 
    color: #333; 
    padding: 20px; 
    margin: 20px; 
    background-color: #007bff;
    border-radius: 5px;
    text-align: center; 
    transition: background-color 0.3s ease; 
}

.enlace:hover {
    background-color: #0056b3; 
    color: #fff; 
}
